<h2>Add Keg</h2>

<form class="newBeer">
  <label>Name of Beer</label>
  <input type="text" #name class="form-control"><br/>
  <label>Name of Company</label>
  <input type="text" #brand class="form-control"><br/>
  <label>Price per Pint</label>
  <input type="number" #price class="form-control"><br/>
  <label>IBU</label>
  <input type="number" #alcoholContent class="form-control"><br/>
  <button (click)="submitForm(name.value, brand.value, price.value, alcoholContent.value); name.value=''; brand.value=''; price.value=''; alcoholContent.value='';" class="btn btn-primary">Add Keg</button>
</form>
