<h2>Edit Keg</h2>
<form>
  <label>Update Beer</label>
  <input type="text" [(ngModel)]="childSelectedKeg.name" name="name"><br/>
  <label>Update Company</label>
  <input type="text" [(ngModel)]="childSelectedKeg.brand" name="brand"><br/>
  <label>Update price per Pint</label>
  <input type="number" [(ngModel)]="childSelectedKeg.price" name="price"><br/>
  <label>Update IBU</label>
  <input type="number" [(ngModel)]="childSelectedKeg.alcoholContent" name="IBU"><br/>
</form>

<button (click)="finishedEditing()">Finish Editing</button>
